{% extends "passy/base.html" %}

{% load static %}

{% block head_scripts %}
    {{ block.super }}
    <script src="{% static "clipboard/dist/clipboard.min.js" %}"></script>
    <script src="{% static "passy/password.js" %}"></script>
{% endblock head_scripts%}

{% block content %}

    {% block start_content %}
    {% endblock start_content %}

    {% block base_form %}
        <form action="{% block form_url %}{% endblock form_url %}" method="post">
            {% csrf_token %}

            {% include 'passy/common/form.html' with form=password_form %}

            {% block form_hidden_buttons %}
            {% endblock form_hidden_buttons %}
        </form>
        <div class="collapse" id="collapse_get_random_password_form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="get_random_password_form" action="{% url 'passy:get_random_password' %}">
                        {% include 'passy/common/form.html' with form=generated_password_request_form %}

                        <input id="hidden_get_another_password_button" type="submit" style="visibility:hidden;display:none">
                    </form>
                </div>
            </div>
        </div>
        {% block form_buttons %}
        {% endblock form_buttons %}
    {% endblock base_form %}

    {% block footer_scripts %}
        <script>initClipboard()</script>
        <script>initGetRandomPasswordForm()</script>
    {% endblock footer_scripts %}
{% endblock content %}
