{% extends "passy/base.html" %}

{% load static %}

{% block head_scripts %}
    {{ block.super }}
    <script src="{% static "clipboard/dist/clipboard.min.js" %}"></script>
    <script src="{% static "passy/password.js" %}"></script>
{% endblock head_scripts%}

{% block content %}

    {% block start_content %}
    {% endblock start_content %}

    {% block base_form %}
        <form action="{% block form_url %}{% endblock form_url %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="site">Site</label>
                <input name="site" id="site" class="form-control" type="text" placeholder="Enter website or application name" value="{{ site }}" required>
            </div>

            <div class="form-group">
                <label for="stored_password_text">Stored password text</label>
                <input name="stored_password_text" id="stored_password_text" class="form-control" type="text" value="{{ stored_password_text }}" required>
            </div>

            {% block form_hidden_buttons %}
            {% endblock form_hidden_buttons %}
        </form>
        <form id="get_password" action="{% url 'passy:get_random_password' %}">
            <div class="form-group">
                <label for="length">Length</label>
                <input name="length" id="length" class="form-control" type="number" value=64 required>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="use_symbols" checked required>Use symbols
                    </label>
                </div>
            </div>

            {% block form_buttons %}
                <input class="btn btn-default" type="submit" value="Get another password">
            {% endblock form_buttons %}
        </form>
    {% endblock base_form %}

    {% block footer_scripts %}
        <script>initForms()</script>
    {% endblock footer_scripts %}
{% endblock content %}
