{% extends "passy/base.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>You are already logged in!</h1>
    {% else %}
        <form action="{% url 'passy:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="master_password">Password</label>
                <input type="password" class="form-control" name="master_password" id="master_password" placeholder="Enter password" required>
            </div>

            <button type="submit" class="btn btn-default">Login</button>
        </form>
    {% endif %}
{% endblock %}
