{% extends "passy/base.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'passy/passwords.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% endblock %}

{% block content %}

    <h3>Passwords:</h3>
    {% if stored_passwords %}
        <ul>
        {% for password in stored_passwords %}
            <li>
                <a href="{% url 'passy:password' password.site %}">{{ password }}</a>
                <input id="get{{ forloop.counter }}"
                       type="button"
                       class="btn"
                       onclick='FillPassword("{% url 'passy:password' password.site %}", "{{ forloop.counter }}")'
                       value="get"
                />
                <button id="copy{{ forloop.counter }}"
                        class="btn"
                        style="visibility:hidden"
                        data-clipboard-text="empty">
                    copy
                </button>
            </li>
        {% endfor %}
        </ul>
        <script>initClipboard()</script>
    {% else %}
        <p>No passwords are stored yet!</p>
    {% endif %}

    <h3>Add another:</h3>
    <form action="{% url 'passy:passwords' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <label><b>Site</b></label>
            <input type="text" placeholder="Enter Website or application name" name="site" required>

            <label><b>Password</b></label>
            <input type="text" placeholder="Enter the Password" name="stored_password_text" required>

            <button type="submit">Add</button>
        </div>
    </form>
{% endblock %}
