{% extends "passy/base.html" %}

{% block content %}
    <form action="{% url 'passy:password' stored_password.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="site">Site:</label>
            <input type="text" class="form-control" name="site" id="site" value="{{ stored_password.site }}" readonly required>
        </div>
        <div class="form-group">
            <label for="stored_password_text">Password:</label>
            <input type="text" class="form-control" name="stored_password_text" id="stored_password_text" value="{{ stored_password_text }}" required>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="should_delete"> Delete?
            </label>
        </div>

        <button type="submit" class="btn btn-default">Change</button>
    </form>
{% endblock %}
