{% if stored_passwords %}
    <ul>
    {% for password in stored_passwords %}
        <li><a href="{% url 'passy:password' password.site %}">{{ password }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
<p>Add another:</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'passy:passwords' %}" method="post">
{% csrf_token %}
  <div class="container">
    <label><b>Site</b></label>
    <input type="text" placeholder="Enter Website or application name" name="site" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter the Password" name="stored_password_text" required>

    <button type="submit">Add</button>
  </div>
</form>