{% extends "passy/base.html" %}

{% block content %}

    <h3>The list of stored passwords:</h3>
    {% if stored_passwords %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Site</th>
                    <th class="text-right">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for password in stored_passwords %}
                    <tr>
                        <td>
                            <a href="{% url 'passy:password' password.site %}">{{ password }}</a>
                        </td>
                        <td class="text-right">
                            <input id="get{{ forloop.counter }}"
                                   type="button"
                                   class="btn"
                                   onclick='Passy.passwords.fillPassword("{% url 'passy:password' password.site %}", "{{ forloop.counter }}")'
                                   value="get"
                            />
                            <button id="copy{{ forloop.counter }}"
                                    class="btn"
                                    style="visibility:hidden;display:none"
                                    data-clipboard-text="empty">
                                copy
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>Passy.passwords.initClipboard()</script>
    {% else %}
        <p>No passwords are stored yet!</p>
    {% endif %}

    <h3>Add another:</h3>
    <form class="form-inline" action="{% url 'passy:passwords' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="site">Site:</label>
            <input type="text" class="form-control" name="site" id="site" placeholder="Enter Website or application name" required>
        </div>
        <div class="form-group">
            <label for="stored_password_text">Password:</label>
            <input type="text" class="form-control" name="stored_password_text" id="stored_password_text" placeholder="Enter the Password" required>
        </div>

        <button type="submit" class="btn btn-default">Add</button>
    </form>
{% endblock %}
