{% extends "passy/base_password.html" %}

{% block start_content %}

    <h3>The list of stored passwords:</h3>
    <input name="filter" id="filter" class="form-control" type="text" placeholder="Filter.." oninput="filterPage(this.value)">
    {% if stored_passwords %}
        <table id="passwords_table" class="table table-hover">
            <thead>
                <tr>
                    <th>Site</th>
                    <th class="text-right">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for password in stored_passwords %}
                    <tr>
                        <td>
                            <a name="site_link" href="{% url 'passy:password' password.pk %}">{{ password.site }}</a>
                        </td>
                        <td class="text-right">
                            <button id="download_{{ forloop.counter }}" type="button" class="btn btn-default"
                                    onclick='fillPassword("{% url 'passy:password' password.pk %}", "{{ forloop.counter }}")'>
                                <span class="glyphicon glyphicon-download"></span>
                            </button>

                            <button id="clipboard_{{ forloop.counter }}"
                                    class="btn btn-default"
                                    style="visibility:hidden;display:none"
                                    data-clipboard-text="empty">
                                <span class="glyphicon glyphicon glyphicon-copy"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No passwords are stored yet!</p>
    {% endif %}

    <h3>Add another:</h3>
{% endblock start_content %}

{% block form_url %}{% url 'passy:password_list' %}{% endblock form_url %}

{% block form_hidden_buttons %}
    <input class="btn btn-default" id="hidden_post_button" type="submit" value="" data-method="post" style="visibility:hidden;display:none">
{% endblock form_hidden_buttons %}

{% block form_buttons %}
    {{ block.super }}
    <input class="btn btn-primary" type="button" value="Save the password" id="hidden_clipboard_save"
           data-clipboard-target="#stored_password_text"
           data-execute-target="hidden_post_button" />
{% endblock form_buttons %}
