{% extends "passy/base.html" %}

{% block content %}

    <form action="{% url 'passy:password' stored_password.site %}" method="post">
        {% csrf_token %}
        <div class="container">
            <label><b>Site</b></label>
            <input type="text" value="{{ stored_password.site }}" name="site" required>

            <label><b>Password</b></label>
            <input type="text" value="{{ stored_password_text }}" name="stored_password_text" required>

            <input type="checkbox" name="should_delete">delete?<br>

            <button type="submit">Change</button>
        </div>
    </form>
{% endblock %}
