{% extends "passy/base_password.html" %}

{% block form_url %}{% url 'passy:password' pk %}{% endblock form_url %}

{% block form_hidden_buttons %}
    <input class="btn btn-default" id="hidden_patch_button" type="submit" value="" data-method="patch" style="visibility:hidden;display:none">
    <input class="btn btn-default" id="hidden_delete_button" type="submit" value="" data-method="delete" style="visibility:hidden;display:none">
{% endblock form_hidden_buttons %}

{% block form_buttons %}
    {{ block.super }}
    <input class="btn btn-default" type="button" value="Change" onclick="document.getElementById('hidden_patch_button').click()" />
    <input class="btn btn-default" type="button" value="Delete" onclick="confirmHiddenButtonClock('hidden_delete_button')" />
{% endblock form_buttons %}
