<div class="input-group">
    {% include "passy/widgets/text_input.html" %}
    <div class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="document.getElementById('hidden_get_another_password_button').click()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button class="btn btn-default" id="clipboard_new_password" type="button" data-clipboard-target="#{{ widget.attrs.id }}">
            <span class="glyphicon glyphicon-copy"></span>
        </button>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_get_random_password_form">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </div>
</div>